*{
    margin: 0;
    padding: 0; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}
#showcase{
    background-image: url('../images/doggo.jpg');
    /* setting image to actually fit the backgrond and show up fully */
    background-size: cover;
    background-position: center;
    height: 100vh; /*will fill up the screen height no matter what*/
    display: flex; 
    flex-direction: column;
    /* aligning both horizontally and vertically */
    /* vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1{
    font-size: 50px;
    /* line-height: 1.2px; */
}
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: 1px solid #926239;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
}
#showcase .button:hover{
    cursor: pointer;
    background: #926239;
    color: white;
}

/* flex divs */
#section-a{
    padding: 20px;
    background: #926239;
    color: white;
    text-align: center;
}
#section-b{
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}
#section-c{
    display: flex;
}
#section-c div{
    padding: 20px;
}
#section-c .box1, #section .box3{
    background: #926239;
    color: white;
}
#section-c .box2{
    background: #f9f9f9;
}